body {
  background-image: linear-gradient(-145deg, white, red);
  width: auto;
  height: 1500px;
}

div {
  width: 960px;
  height: 600px;
  margin: 0 auto;
}

.satu {
  background-image: radial-gradient(circle at 50% 100%, white, blue);
}

.dua {
  height: 200px;
  background-image: radial-gradient(circle at left, white, blue, white);
  background-repeat: repeat-x;
}